*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

h1{
    color:#e43571 ;
    font-size: 2.3rem;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

section{
    margin-top: 35px;
}

section.description{
    margin-top: 40px;
}

section.title{
    height: 60px ;
}

div{
    height: 95px;
    width: 32%;
    background-color:#0f0e17;
    float: left;
    border: white solid 1px;
}

img{
    height: 100%;
    float: left;
}

div.clearfix~div{
    margin-left: 2%;
}
